.rating {
  display: flex;

  &__back-stars {
    color: #FFF;
    display: flex;
    position: relative;
  }

  &__front-stars {
    color: #FFBC0B;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
  }

}
