.paginate {
  color: #FFF;
  margin: 0 5px;
  padding: 10px 5px;

  &-button {
    background-color: #DD003F;
    border: none;
    border-radius: 30px;
    color: #FFF;
    margin: 0 15px;
    outline: none;
    padding: 8px 15px;
    text-transform: uppercase;

    &--disable {
      background: rgba(255, 255, 255, 0.5);
      cursor: none;
      pointer-events: none;
    }
  }
}





